body{
    background-color: white
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.common{
    /* background-color: #cccccc; */
    border: 2px solid white;
    position: absolute;
}

.header{
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
    z-index: 2;
    border-bottom: solid 1px#555555;
}

.leftmenu{
    top: 114px;
    left: 5px;
    width: 100px;
    bottom: 39px;
    z-index: 1;
    padding-top: 40px;
    border-right: solid 1px#555555;
    padding-right: 5px;
}

.mainbody{
    top: 114px;
    left: 114px;
    right: 114px;
    bottom: 39px;
}

.rightmenu{
    top: 114px;
    right: 5px;
    width: 100px;
    bottom: 39px;
    border-left: solid 1px#555555;
    padding-left: 5px;
}

.footer{
    bottom: 5px;
    left: 5px;
    right: 5px;
    height: 25px;
    font-size: 8px;
    color: #999999;
    text-align: center;
    padding-top: 15px;
    position: fixed;
}

.subheader{
    float: right;