body {
    background-color: #777777;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.common {
    /* background-color: #cccccc; */
    border: 2px solid white;
    position: absolute;
}

.header {
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
    z-index: 2;
    border-bottom: solid 2px #555555;
}

.leftmenu {
    top: 114px;
    left: 5px;
    width: 100px;
    bottom: 39px;
    z-index: 1;
    border-bottom: solid 2px #555555;
}

.mainbody {
    top: 114px;
    left: 114px;
    right: 114px;
    bottom: 39px;
    padding-right: 5px;
}

.rightmenu {
    top: 114px;
    right: 5px;
    width: 100px;
    bottom: 39px;
    border-bottom: solid 2px #555555;
    padding-left: 5px;
    text-align: justify;
}

.footer {
    bottom: 0px;
    left: 5px;
    right: 5px;
    height: 17px;
    color: #555555;
    text-align: center;
    padding-top: 15px;
    font-size: 8px;
    position: fixed;
    background-color: lightgray;
}

a:visited{
    color: blue
}

a:hover{
    text-decoration: underline;
}

.subheader {
    float: center;
}

.right {
    text-align: right;
    padding-top: 7px;
}